<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMI Calculator</title>
    <link rel="stylesheet" href="static\style.css">
</head>
<body>
    <h1> BMI Calculator</h1>
    <form method="POST" action="/bmi">
    <label> Weight(kg) :</label>
    <input type ="number" name = "weight" step="0.1" required>
    <br><br>
    <label> Height(cm) :</label>
    <input type ="number" name = "height" step="0.1" required>    
    <br><br>
    <button type="submit"> Calculate BMI</button>

</form>
    
</body>
</html>